.cards{
    display: flex;
    padding:10px;
}
.div-1{
    width:22%;
}
.div-1 .icon-img{
    width:75%;
    padding:8px;
}

.div-2{
    width:77%;
}
.head h4{
    font-size: 28px;;
}
.para-2{
    padding-left:12px;
}
.para-2 p{
    font-size: 13px;
    font-weight: 400;
    color:white;
}
.icon {
    padding-top:1px;;
}
.button-1 button{
    padding-top:9px;
    padding-bottom: 9px;
        padding-left:20px;
        padding-right: 20px;
        border-style: none;
        font-weight: 600;
        font-size: 15px;;
        letter-spacing: 1px;;
        background-color: #0876b5;
        color:white;
    
}
.buttons ul{
    list-style:none;
    display: flex;
    padding:0;
    margin:0;
  
}
.buttons ul li{
    background-color: aliceblue;
    
    padding:2px;
    font-weight: 500;
    border-radius: 5px;
    margin-left:8px;
}

.card-1{
    background:linear-gradient(#51a0cd,#044056);
    padding-bottom: 23px;;
}
.carrier{
    display: flex;
    
}



@media (min-width:480px) {
    .carrier{
        display: block;
    }
    
        .div-1{
            width:35%;
        }
        .carrier{
            padding:0;
        }
        .container{
            padding:0;
        }
                .button-1 button{
                    padding-top:7px;
                    padding-bottom: 7px;
                    padding-left: 6px;
                    padding-right: 6px;
                }
                
}


